.footerWrapper {
    background: transparent;
    padding: 156px 26px 40px;
}

.footerLink {
    margin: 0 11px 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}