.modal {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw !important;

    :global {
        .ant-modal-body {
            padding: 0 !important;
        }

        .ant-modal-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: rgba(121, 156, 212, 0.5) !important;
        }

        .ant-modal-header {
            display: none !important;
            padding: 16px 24px !important;
            display: flex;
            justify-content: space-between;
        }

        .ant-modal-footer {
            display: none !important;
        }

        .ant-btn {
            display: none;
        }

        .ant-modal-close {
            background: none !important;
            border: none !important;

            &:hover {
                cursor: pointer;
            }
        }
    }
}