.modal {
    height: 363px;
    position: static;
    background: var(--character-light-primary-inverse);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    height: 363px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.checkEmailError {
    width: 539px;
    height: 550px;
}

@media (max-width: 600px) {
    .modal {
        width: 328px;
        padding-top: 30px;
        padding-bottom: 30px;
        height: fit-content;
    }
}