.header {
    background: var(--primary-light-1);
    height: fit-content;
    padding: 0;
}

.wrapper {
    padding: 15px 22px 8px;
    gap: 15px;
}

.headerTitle {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.pageTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.settingsButton {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding-top: 0;
    margin: -5px 9px 0 0;

    &:focus {
        :global .ant-wave {
            display: none;
        }
    }
}

@media(max-width: 1200px) {
    .headerTitle {
        font-size: 24px;
    }
}

@media(max-width: 702px) {
    .header {
        width: 100vw;
    }
}

@media(max-width: 540px) {

    .headerTitle {
        margin-bottom: 14px !important;
    }

    .settingsButton {
        background-color: #fff;
        border: 1px solid var(--character-light-border);
        border-radius: 100px;
        padding: 4px 10px;
        width: 32px;
        height: 32px;
        margin-right: 2px;
    }

    .wrapper {
        gap: 6px;
        padding-bottom: 0;
    }
}