.footerWrapper {
    background: transparent;
}

.footer {
    padding-top: 156px;
}

.footerLink {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}