.registrationModal {
    top: 14%;
}

@media(max-height: 700px) {
    .modal {
        min-height: 600px;
    }
}

@media(max-height: 760px) {
    .registrationModal {
        top: 0.6%;
    }
}

@media(max-width: 900px) {
    .registrationModal {
        top: 19%;
    }
}

@media (max-width: 600px) {
    .registrationModal {
        top: 14%;
    }
}