.ratingStars {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    :global {
        .ant-rate-star-full {
            color: var(--character-light-warning);
        }

        .ant-rate-star-second {
            display: none;
        }
    }
}