@import '@utils/mixins/button';

.downloadCard {
    border-radius: 2px;
    border: none;

    :global {
        .ant-card-body {
            padding: 0;
        }
    }
}

.cardHeader {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--primary-light-6);
}

.cardSubheader {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.headerWrapper {
    padding: 12px 24px;
    gap: 8px;
}

.downloadButtonText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.downloadButton {
    border: none;
    box-shadow: none;
    margin: 12px 0;
    width: 120px;
    height: 32px;

    @include button;
}

@media(max-width: 835px) {
    .headerWrapper {
        padding-top: 9px;
    }
}

@media(max-width: 540px) {
    .downloadCard {
        width: 328px;
    }

    .headerWrapper {
        padding-top: 13px;
        padding-bottom: 11px;
        text-align: center;
    }

    .buttonsFlex {
        justify-content: center;

    }

    .downloadButton {
        padding-top: 0;
        // padding-left: 1px;
        width: 164px;
    }
}