.app {
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 1440px;
    width: 100vw;
    background-color: transparent;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.contentLayout {
    flex-basis: 100%;
}

@media(max-width: 702px) {
    .contentLayout {
        width: 100vw;
    }
}