@import '@utils/mixins/button';

.actionCard,
.cardDivider {
    width: 240px;
}

.actionCard {
    padding: 0;
    border-radius: 2px;
}

.cardTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin: 12px;
}

.cardButton {
    border: none;
    margin: 12px;
    box-shadow: none;

    @include button;
}

.cardButtonTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}

.cardDivider {
    margin: 0;
}

@media(max-width: 1200px) {
    .actionCard {
        width: 18vw;
    }

    .cardButton {
        margin: 12px 0;
        // height: fit-content;
    }
}

@media(max-width: 835px) {
    .actionCard {
        width: 22vw;
    }

    .cardTitle {
        margin: 12px 24px;
    }

    .cardStretched {
        width: 27.5vw;
    }
}