@import '@utils/mixins/button';

.sider {
    background: #fff !important;
    position: relative;
}

.siderFlex {
    height: 100%;
}

.siderMainWrapper {
    gap: 37px;
}

.logoWrapper {
    height: 64px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 17px 30px 15px;
    margin-top: 30px;
}

.siderMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    :global {
        .ant-menu-item {
            padding: 0 12px !important;

            .ant-menu-title-content {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: var(--character-light-title-85);
            }
        }
    }
}

.exitButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.exitButton {
    border: none;
    border-radius: 0;

    @include button;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px 10px;
    gap: 20px;
}

.toggleSidebarButtonWrapper {
    position: absolute;
    top: 47%;
    right: -19px;
    z-index: 10;
    height: 60px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%)
}

.toggleSidebarButton {
    box-shadow: none;
    border-radius: 0;
    border: none;

    @include button;

    width: 20px;
}

.collapsed {
    .logoWrapper {
        box-shadow: none;
        margin-top: 27px;
    }

    .fitIcon {
        width: 30px;
        height: 25px;
    }

    .exitButton {
        align-self: center;
    }

    :global {
        .ant-menu-item {
            justify-content: center !important;
            position: relative;
        }

        .ant-menu-item-icon {
            position: absolute;
            top: 30%;
            left: 36.5%;
        }

        .ant-menu-item-content {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .logoWrapper {
        box-shadow: none;
    }
}

@media(max-width: 835px) {
    .toggleSidebarButtonWrapper {
        height: 65px;
    }

    .collapsed {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

        .exitButton {
            padding-top: 14px;
        }

        .toggleSidebarButton {
            :global {
                .anticon {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        .toggleSidebarButtonWrapper {
            top: 47.5%;

            :global {
                .anticon {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .siderMainWrapper {
            gap: 40px;
        }
    }
}

@media(max-width: 702px) {
    .sider {
        position: absolute !important;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
    }

    .toggleSidebarButtonWrapper {
        top: 24px;
        width: 32px;
        height: 48px;
        right: -31px;
    }

    .collapsed {
        .toggleSidebarButtonWrapper {
            top: 24px;
        }

        left: -29.44vw;
    }
}

@media(max-width: 540px) {
    .sider {
        height: 100vh;
    }

    .siderMainWrapper {
        gap: 8px;
    }

    .logoWrapper {
        margin-top: 0;
        padding: 14px 0;
        height: 50px;
        justify-content: center;

        img {
            width: 72px;
        }
    }

    .siderMenu {
        gap: 8px;
        align-items: flex-start !important;

        :global {

            .ant-menu-item {
                height: 42px;
                margin: 0;
                padding-left: 10px !important;
                // text-align: center;
            }

            .ant-menu-title-content {
                margin: 0 !important;
            }

            .anticon {
                display: none !important;
            }
        }
    }

    .exitButton {
        font-size: 14px;
        justify-content: center;
        text-align: center;
        padding: 20px 0;

        :global {
            .ant-btn-icon {
                display: none;
            }
        }
    }
}