.app {
    position: relative;
    max-width: 1440px;
    background: transparent;
}

.wrapper {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

@media(max-width: 702px) {
    .contentLayout {
        width: 100vw;
    }
}