.wrapper {
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    background: rgba(121, 156, 212, 0.5);
    z-index: 50;

    svg {
        width: 150px;
        height: 150px;
    }
}