.modal {
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    height: 419px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    top: 29.5%;
}

.wrapper {
    width: 368px;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.headerTitle {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px !important;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85) !important;
    text-align: center;
}

.passwordForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.passwordInputWrapper {
    border: 1px solid var(--character-light-border);
    border-radius: 2px;
    // padding: 10px 12px !important;
    width: 368px;
    // height: 40px !important;
    height: fit-content;
    box-sizing: border-box;
    position: relative;

    :global {
        .ant-input-password {
            border: none;
            box-shadow: none;
            border-radius: 2px;
            // width: 350px;
            display: flex;
            align-items: center;
        }

        .ant-input {
            box-sizing: border-box;
            padding: 15px 1px !important;
            width: 326px;
            height: 20px;
            border: none;
        }

        .ant-input:focus {
            outline: none !important;
        }

        .ant-input-suffix {
            svg {
                fill: var(--character-light-secondary-45);
            }
        }

        .ant-form-item-explain {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            color: var(--character-light-secondary-45) !important;
            position: absolute;
            left: 0;
        }
    }
}

:global {
    .ant-form-item-explain {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: var(--character-light-secondary-45);
        margin-top: 10px;
        position: absolute;
    }

    .ant-form-item-has-error {
        border-color: var(--character-light-error);

        .ant-form-item-explain-error {
            color: var(--character-light-error);
        }
    }

    .ant-form-item-has-success {
        border: 1px solid var(--primary-light-5) !important;
        box-shadow: 0 0 0 2px rgba(47, 84, 235, 0.2);
    }
}

.submitButton {
    border: 1px solid var(--primary-light-6) !important;
    border-radius: 2px;
    padding: 6px 15px !important;
    width: 368px;
    height: 40px !important;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04) !important;
    background: var(--primary-light-6) !important;
    color: #fff;
    margin-top: 18px;

    &:hover {
        cursor: pointer;
    }
}

@media(max-height: 800px) {
    .modal {
        position: static;
    }
}

@media(max-width: 600px) {

    .modal {
        top: 206px;
        padding: 32px 16px;
        width: 328px;
        height: 386px;
    }

    .wrapper {
        width: 296px;
        height: 322px;
    }

    .passwordForm {
        gap: 63px;
    }

    .passwordInputWrapper {
        width: 296px;

        :global {
            .ant-input-password {
                width: 296px;
            }

            .ant-input {
                box-sizing: border-box;
                padding: 1px 0;
                width: 254px;
                height: 20px;
                border: none;
            }
        }
    }

    .submitButton {
        padding: 6px 15px !important;
        width: 296px;
        margin-top: 10px !important;
    }
}